// start headerBottom
//- Oxana Kovalenko
.headerBottom
	.container
		.headerBottom__wrap.flex
			.headerBottom__item.flex-item
				a(href="#").headerBottom__logo
					img(src="/img/logo.png")
			.headerBottom__item.flex-item
				include /blocks/navMenu/navMenu
	.headerBottom__line.hidden-xs
		.headerBottom__lineString
// end headerBottom