@import '../../css/_vars'
.headerBottom
	padding: 30px 0
	position: relative
	margin-bottom: 10px
	&__line
		height: 10px
		background: $bg_color_1
		position: absolute
		width: 1050px
		left: 315px
		bottom: 30px
		@media (min-width: 1400px)
			left: 350px
	&__lineString
		height: 10px
		position: absolute
		left: 0
		background: #dcdcdc
	&__item
		&:first-child
			flex: 0 0 300px
	&__logo
		img
			margin-top: 5px
			@media (max-width: $screen-xs-min)
				margin-bottom: 10px
				width: 200px

.no-flexbox
	.headerBottom__item
		&:first-child
			width: 300px
		&:last-child
			vertical-align: top