@import '../../css/_vars'
.social
	@media (max-width: $screen-xs-min)
		text-align: center
	&__title
		font-weight: bold
	&__link
		color: #fff
		width: 35px
		height: 35px
		padding: 10px 0
		font-size: 17px
		text-align: center
		margin-left: 20px
		border-radius: 50%
		text-decoration: none
		&:first-child
			margin-left: 0
		&.fa-facebook
			background: #507cbe
		&.fa-twitter
			background: #63cdf1
		&.fa-vk
			background: #597b9f
		&:hover
			color: #fff
			text-decoration: none
			opacity: 0.7