// start asideTable
//- Oxana Kovalenko
.asideTable
	.asideTable__head Лучшие конторы букмекеров
	.asideTable__body.classA
		.asideTable__item
			.asideTable__itemClass A
			.asideTable__itemLogo
				img(src="/img/sportingbet.png")
				.asideTable__itemHover
					a.asideTable__itemLink(href="") Описание
					a.asideTable__itemLink(href="") Отзывы
					a.asideTable__itemLink(href="") Сайт
		.asideTable__item
			.asideTable__itemClass A
			.asideTable__itemLogo
				img(src="/img/sportingbet.png")
				.asideTable__itemHover
					a.asideTable__itemLink(href="") Описание
					a.asideTable__itemLink(href="") Отзывы
					a.asideTable__itemLink(href="") Сайт
		.asideTable__item
			.asideTable__itemClass A
			.asideTable__itemLogo
				img(src="/img/sportingbet.png")
				.asideTable__itemHover
					a.asideTable__itemLink(href="") Описание
					a.asideTable__itemLink(href="") Отзывы
					a.asideTable__itemLink(href="") Сайт
	.asideTable__body.classB
		.asideTable__item
			.asideTable__itemClass Б
			.asideTable__itemLogo
				img(src="/img/sportingbet.png")
				.asideTable__itemHover
					a.asideTable__itemLink(href="") Описание
					a.asideTable__itemLink(href="") Отзывы
					a.asideTable__itemLink(href="") Сайт
		.asideTable__item
			.asideTable__itemClass Б
			.asideTable__itemLogo
				img(src="/img/sportingbet.png")
				.asideTable__itemHover
					a.asideTable__itemLink(href="") Описание
					a.asideTable__itemLink(href="") Отзывы
					a.asideTable__itemLink(href="") Сайт
		.asideTable__item
			.asideTable__itemClass Б
			.asideTable__itemLogo
				img(src="/img/sportingbet.png")
				.asideTable__itemHover
					a.asideTable__itemLink(href="") Описание
					a.asideTable__itemLink(href="") Отзывы
					a.asideTable__itemLink(href="") Сайт
		.asideTable__item
			.asideTable__itemClass Б
			.asideTable__itemLogo
				img(src="/img/sportingbet.png")
				.asideTable__itemHover
					a.asideTable__itemLink(href="") Описание
					a.asideTable__itemLink(href="") Отзывы
					a.asideTable__itemLink(href="") Сайт
// end asideTable