// start headerTop
//- Oxana Kovalenko
.headerTop
	.container
		.headerTop__wrap.flex
			.headerTop__item.flex-item
				span.headerTop__sign 18+

				.headerTop__text
					| Сайт Free-bets.ru бесплатный информационно-новостной портал для всех кто увлекается спортом и ставками на него. Мы не принимаем платежи, и не проводим азартные игры.
			.headerTop__item.flex-item
				include /blocks/social/social.jade
// end headerTop