@import '../../css/_vars'
.headerTop
	background: $base_text
	position: fixed
	width: 100%
	z-index: 100
	@media (max-width: $screen-xs-min)
		position: static
	&__wrap
		align-items: center
		justify-content: space-between
		height: 80px
		padding: 10px 0
		@media (max-width: $screen-xs-min)
			height: auto
	&__sign
		background: $color_6
		color: #fff
		font-size: 14px
		font-weight: bold
		border-radius: 50%
		width: 35px
		height: 35px
		padding: 5px 0
		text-align: center
		display: inline-block
		float: left
	&__text
		color: #7c87a7
		font-size: 13px
		max-width: 600px
		padding-left: 50px
		font-family: 'PT Sans', sans-serif
		@media (max-width: $screen-xs-min)
			line-height: 1.3
			font-size: 12px
			margin-bottom: 10px
