@import '../../css/_vars'
.asideServices
	margin-bottom: 15px
	@media (max-width: $screen-xs-min)
		margin-top: 20px
	&__head
		background: $color_1
		color: #fff
		font-weight: 600
		padding: 12px 5px
		text-align: center
	&__itemFooter
		background: rgba(104,104,104,0.8)
		height: 45px
		position: absolute
		bottom: 0
		width: 100%
		display: flex
		flex-direction: column
		justify-content: center
		align-items: center
		transition: all 1s
		padding: 10px
		text-align: center
		a
			color: #fff
		.fa-wrap
			opacity: 0
			transition: opacity 1s, height 2s, margin 1s
			width: 40px
			height: 0
			margin: 0 auto
		.fa
			background: $base_text
			font-size: 20px
			text-decoration: none
			border-radius: 50%
			padding: 10px
	&__item
		position: relative
		overflow: hidden
		margin-top: 1px
		cursor: pointer
		height: 130px
		img
			width: 100%
		&:hover
			.asideServices__itemFooter
				bottom: 0
				height: 130px
				background: rgba(129,199,132,0.8)
				display: flex
			img
				filter: blur(1px)
			.fa-wrap
				height: 40px
				opacity: 1
				margin-top: 15px
