// start asideServices
//- Oxana Kovalenko
.asideServices
	.asideServices__head Сервисы
	.asideServices__item
		img(src="/img/service-1.jpg")
		.asideServices__itemFooter.flex
			a(href="") Прямые трансляции
			.fa-wrap
				a(href="").fa.fa-share
	.asideServices__item
		img(src="/img/service-1.jpg")
		.asideServices__itemFooter.flex
			a(href="") Прогнозы на футбол
			.fa-wrap
				a(href="").fa.fa-share
	.asideServices__item
		img(src="/img/service-1.jpg")
		.asideServices__itemFooter.flex
			a(href="") Экспрессы дня
			.fa-wrap
				a(href="").fa.fa-share
// end asideServices
