.headerBottom {
  padding: 30px 0;
  position: relative;
  margin-bottom: 10px;
}
.headerBottom__line {
  height: 10px;
  background: #eee;
  position: absolute;
  width: 1050px;
  left: 315px;
  bottom: 30px;
}
@media (min-width: 1400px) {
  .headerBottom__line {
    left: 350px;
  }
}
.headerBottom__lineString {
  height: 10px;
  position: absolute;
  left: 0;
  background: #dcdcdc;
}
.headerBottom__item:first-child {
  -webkit-box-flex: 0;
  -webkit-flex: 0 0 300px;
  -ms-flex: 0 0 300px;
  flex: 0 0 300px;
}
.headerBottom__logo img {
  margin-top: 5px;
}
@media (max-width: 320px) {
  .headerBottom__logo img {
    margin-bottom: 10px;
    width: 200px;
  }
}
.no-flexbox .headerBottom__item:first-child {
  width: 300px;
}
.no-flexbox .headerBottom__item:last-child {
  vertical-align: top;
}
