extends _layout.jade

block title
	title Рейтинг букмекерских контор 

block content
	.container
		.main-wrap.flex
			.aside-left.flex-item
				include /blocks/asideTable/asideTable.jade
				a(href="").link-black Рейтинг букмекеров
			.content.flex-item
				.padding-box
					h3.title Лучшие букмекерские конторы мира
					p
						| Самый простой способ систематизировать все БК в нашем рейтинге – это присвоить каждой из них определенную категорию. Таким образом, вы без труда найдете лучшие букмекерские конторы онлайн, которым можно доверять целиком и полностью. И сможете выделить сайты, с которыми можно работать лишь на определенных условиях (к примеру, если ни один из более благонадежных букмекеров не предлагает таких же вкусных коэффициентов), а также ресурсы, к которым стоит относиться с осторожностью.
				include /blocks/bookmakersTable/bookmakersTable.jade
				.padding-box.short-list
					h3.title.green Краткий список самых лучших букмекерских контор
					include /blocks/bookmakerCard/bookmakerCard.jade
					p.text-small
						| Один из старейших британских букмекеров, который за десятки лет своей работы превратился из скромной английской конторы в крупнейшую компанию, принимающую ставки в режиме онлайн. Все в этой компании, начиная от линии, способов пополнения счета и вывода средств, и заканчивая работой службы поддержки, порадует как начинающих, так и профессиональных беттеров. Именно БК William Hill миллионы пользователей со всех частей света называют самой благонадежной, честной и ответственной конторой.
					hr
					include /blocks/socialShare/socialShare.jade
			.aside-right.flex-item
				include /blocks/asideServices/asideServices.jade
				a(href="").link-black Все сервисы
