// start bookmakerCard
//- Oxana Kovalenko
.bookmakerCard.row
	.bookmakerCard__imgWrap.col-xs-12.col-lg-4
		img(src="/img/william.jpg").bookmakerCard__img
		table.bookmakerCard__payment
			tbody
				tr
					td
						a(href="").bookmakerCard__paymentLink
							img(src="/img/payment/pay_1.jpg")
					td
						a(href="").bookmakerCard__paymentLink
							img(src="/img/payment/pay_2.jpg")
					td
						a(href="").bookmakerCard__paymentLink
							img(src="/img/payment/pay_3.jpg")
					td
						a(href="").bookmakerCard__paymentLink
							img(src="/img/payment/pay_4.jpg")
				tr
					td
						a(href="").bookmakerCard__paymentLink
							img(src="/img/payment/pay_5.jpg")
					td
						a(href="").bookmakerCard__paymentLink
							img(src="/img/payment/pay_6.jpg")
					td
						a(href="").bookmakerCard__paymentLink
							img(src="/img/payment/pay_7.jpg")
					td
						a(href="").bookmakerCard__paymentLink
							img(src="/img/payment/pay_8.jpg")

	.bookmakerCard__info.col-xs-12.col-lg-8
		table.footable
			thead
				tr
					th
					th(data-hide="phone")
			tbody
				tr
					td
						.bookmakerCard__infoItem
							i.fa.fa-globe
							a(href="") williamhill.com
					td
						.bookmakerCard__infoItem.text-right
							span.bookmakerCard__infoItem__dt Надежность:
							.bookmakerCard__infoItem__stars
								i.fa.fa-star
								i.fa.fa-star
								i.fa.fa-star
								i.fa.fa-star
								i.fa.fa-star
				tr
					td
						.bookmakerCard__infoItem
							i.fa.fa-download
							a(href="").fa.fa-apple
							a(href="").fa.fa-android
							a(href="").fa.fa-windows
							a(href="").fa.fa-edge
					td
						.bookmakerCard__infoItem.text-right
							span.bookmakerCard__infoItem__dt Прибыль:
							.bookmakerCard__infoItem__stars
								i.fa.fa-star
								i.fa.fa-star
								i.fa.fa-star
								i.fa.fa-star
								i.fa.fa-star
				tr
					td
						.bookmakerCard__infoItem
							i.fa.fa-flag
							span Русский
					td
						.bookmakerCard__infoItem.text-right
							span.bookmakerCard__infoItem__dt Доверие:
							.bookmakerCard__infoItem__stars
								i.fa.fa-star
								i.fa.fa-star
								i.fa.fa-star
								i.fa.fa-star
								i.fa.fa-star
				tr
					td
						.bookmakerCard__infoItem
							i.fa.fa-envelope
							a(href="mailto:support@williamhill.com") support@williamhill.com
					td
						.bookmakerCard__infoItem.text-right
							span.bookmakerCard__infoItem__dt Доверие:
							.bookmakerCard__infoItem__stars
								i.fa.fa-star
								i.fa.fa-star
								i.fa.fa-star
								i.fa.fa-star
								i.fa.fa-star
				tr
					td
						.bookmakerCard__infoItem
							i.fa.fa-gift
							span до 10$ (шанс 100%)
					td
						.bookmakerCard__infoItem.text-right
							span.bookmakerCard__infoItem__dt Поддержка:
							.bookmakerCard__infoItem__stars
								i.fa.fa-star
								i.fa.fa-star
								i.fa.fa-star
								i.fa.fa-star
								i.fa.fa-star
		hr
		.bookmakerCard__btnWrap
			button.bookmakerCard__btn.btn-more.btn Узнать больше
			button.bookmakerCard__btn.btn-site.btn Перейти на сайт
// end bookmakerCard