// start socialShare
//- Oxana Kovalenko
.socialShare
	span.socialShare__title Поделитесь страничкой с друзьями:
	a(href="#").socialShare__link.fa.fa-facebook
	a(href="#").socialShare__link.fa.fa-twitter
	a(href="#").socialShare__link.fa.fa-tumblr
	a(href="#").socialShare__link.fa.fa-vk
	a(href="#").socialShare__link.fa.fa-plus
// end socialShare