@import '../../css/_vars'
.bookmakersTable
	width: 100%
	margin-bottom: 45px
	tbody
		border-bottom: 5px solid #fff
		tr.even
			background: $bg_color_1
	td
		text-align: center
		padding: 10px
	th
		font-size: 12px
		background: $color_1
		color: #fff
		font-weight: 600
		text-align: center
		padding: 10px
		&:last-child
			width: 0
	td:last-child
		white-space: nowrap
	&__class
		@media (max-width: $screen-xs-min)
			width: 70px !important
			position: relative
			text-align: right !important
			padding: 10px 20px !important
	&__logo
		img
			width: 100px
	&__btn
		width: 70px
		white-space: normal
		font-size: 9px
		text-transform: uppercase
		color: #fff
		font-weight: 600
		padding: 2px
		&.bet
			background: $color_1
		&.site
			background: $color_2
		&:hover
			color: #fff
			opacity: 0.7
	.fa-star
		color: $color_stars
		&+.fa-star
			margin-left: 2px
	.fa-dollar, .fa-rub
		&:before
			font-size: 13px
			padding-left: 2px
	.fa-check-circle
		color: $color_1
		font-size: 25px
	.classA
		.bookmakersTable__class
			background: $color_3
	.classB
		.bookmakersTable__class
			background: $color_4
		&.first
			border-top: 5px solid #fff
	.classC
		.bookmakersTable__class
			background: $color_5
		&.first
			border-top: 5px solid #fff
	&.footable
		.footable-row-detail-inner
			width: 100%
		.footable-row-detail-name
			text-align: left !important
		.footable-row-detail-value,
		.footable-row-detail-name
			padding: 5px 0
		.footable-toggle
			position: absolute
			left: 10px