// start bookmakersTable
//- Oxana Kovalenko
table.bookmakersTable.footable
	thead
		tr
			th Класс
			th Букмекер
			th(data-hide="phone") Бонус
			th(data-hide="phone") Депозит
			th.word-break(data-hide="phone") Под-держка
			th.word-break(data-hide="phone") Лицен-зия
			th(data-hide="phone") Надежность
			th(data-hide="phone")
	tbody.bookmakersTable__classA
		tr.classA
			td.bookmakersTable__class А
			td.bookmakersTable__logo
				img(src="/img/sportingbet.png")
			td.bookmakersTable__bonus
				| 10
				span.fa.fa-dollar
			td.bookmakersTable__deposit
				| 100
				span.fa.fa-rub
			td.bookmakersTable__support
				i.fa.fa-check-circle
			td.bookmakersTable__lecense
				i.fa.fa-check-circle
			td.bookmakersTable__trust
				i.fa.fa-star
				i.fa.fa-star
				i.fa.fa-star
				i.fa.fa-star
				i.fa.fa-star
			td
				button.btn.bookmakersTable__btn.bet СДЕЛАТЬ СТАВКУ
				button.btn.bookmakersTable__btn.site ПОСЕТИТЬ САЙТ
		tr.classA.even
			td.bookmakersTable__class А
			td.bookmakersTable__logo
				img(src="/img/sportingbet.png")
			td.bookmakersTable__bonus
				| 10
				span.fa.fa-dollar
			td.bookmakersTable__deposit
				| 100
				span.fa.fa-rub
			td.bookmakersTable__support
				i.fa.fa-check-circle
			td.bookmakersTable__lecense
				i.fa.fa-check-circle
			td.bookmakersTable__trust
				i.fa.fa-star
				i.fa.fa-star
				i.fa.fa-star
				i.fa.fa-star
				i.fa.fa-star
			td
				button.btn.bookmakersTable__btn.bet СДЕЛАТЬ СТАВКУ
				button.btn.bookmakersTable__btn.site ПОСЕТИТЬ САЙТ
		tr.classA
			td.bookmakersTable__class А
			td.bookmakersTable__logo
				img(src="/img/sportingbet.png")
			td.bookmakersTable__bonus
				| 10
				span.fa.fa-dollar
			td.bookmakersTable__deposit
				| 100
				span.fa.fa-rub
			td.bookmakersTable__support
				i.fa.fa-check-circle
			td.bookmakersTable__lecense
				i.fa.fa-check-circle
			td.bookmakersTable__trust
				i.fa.fa-star
				i.fa.fa-star
				i.fa.fa-star
				i.fa.fa-star
				i.fa.fa-star
			td
				button.btn.bookmakersTable__btn.bet СДЕЛАТЬ СТАВКУ
				button.btn.bookmakersTable__btn.site ПОСЕТИТЬ САЙТ
		tr.classB.even.first
			td.bookmakersTable__class B
			td.bookmakersTable__logo
				img(src="/img/sportingbet.png")
			td.bookmakersTable__bonus
				| 10
				span.fa.fa-dollar
			td.bookmakersTable__deposit
				| 100
				span.fa.fa-rub
			td.bookmakersTable__support
				i.fa.fa-check-circle
			td.bookmakersTable__lecense
				i.fa.fa-check-circle
			td.bookmakersTable__trust
				i.fa.fa-star
				i.fa.fa-star
				i.fa.fa-star
				i.fa.fa-star
				i.fa.fa-star
			td
				button.btn.bookmakersTable__btn.bet СДЕЛАТЬ СТАВКУ
				button.btn.bookmakersTable__btn.site ПОСЕТИТЬ САЙТ
		tr.classB
			td.bookmakersTable__class B
			td.bookmakersTable__logo
				img(src="/img/sportingbet.png")
			td.bookmakersTable__bonus
				| 10
				span.fa.fa-dollar
			td.bookmakersTable__deposit
				| 100
				span.fa.fa-rub
			td.bookmakersTable__support
				i.fa.fa-check-circle
			td.bookmakersTable__lecense
				i.fa.fa-check-circle
			td.bookmakersTable__trust
				i.fa.fa-star
				i.fa.fa-star
				i.fa.fa-star
				i.fa.fa-star
				i.fa.fa-star
			td
				button.btn.bookmakersTable__btn.bet СДЕЛАТЬ СТАВКУ
				button.btn.bookmakersTable__btn.site ПОСЕТИТЬ САЙТ
		tr.classB.even
			td.bookmakersTable__class B
			td.bookmakersTable__logo
				img(src="/img/sportingbet.png")
			td.bookmakersTable__bonus
				| 10
				span.fa.fa-dollar
			td.bookmakersTable__deposit
				| 100
				span.fa.fa-rub
			td.bookmakersTable__support
				i.fa.fa-check-circle
			td.bookmakersTable__lecense
				i.fa.fa-check-circle
			td.bookmakersTable__trust
				i.fa.fa-star
				i.fa.fa-star
				i.fa.fa-star
				i.fa.fa-star
				i.fa.fa-star
			td
				button.btn.bookmakersTable__btn.bet СДЕЛАТЬ СТАВКУ
				button.btn.bookmakersTable__btn.site ПОСЕТИТЬ САЙТ
		tr.classB
			td.bookmakersTable__class B
			td.bookmakersTable__logo
				img(src="/img/sportingbet.png")
			td.bookmakersTable__bonus
				| 10
				span.fa.fa-dollar
			td.bookmakersTable__deposit
				| 100
				span.fa.fa-rub
			td.bookmakersTable__support
				i.fa.fa-check-circle
			td.bookmakersTable__lecense
				i.fa.fa-check-circle
			td.bookmakersTable__trust
				i.fa.fa-star
				i.fa.fa-star
				i.fa.fa-star
				i.fa.fa-star
				i.fa.fa-star
			td
				button.btn.bookmakersTable__btn.bet СДЕЛАТЬ СТАВКУ
				button.btn.bookmakersTable__btn.site ПОСЕТИТЬ САЙТ
		tr.classB.even
			td.bookmakersTable__class B
			td.bookmakersTable__logo
				img(src="/img/sportingbet.png")
			td.bookmakersTable__bonus
				| 10
				span.fa.fa-dollar
			td.bookmakersTable__deposit
				| 100
				span.fa.fa-rub
			td.bookmakersTable__support
				i.fa.fa-check-circle
			td.bookmakersTable__lecense
				i.fa.fa-check-circle
			td.bookmakersTable__trust
				i.fa.fa-star
				i.fa.fa-star
				i.fa.fa-star
				i.fa.fa-star
				i.fa.fa-star
			td
				button.btn.bookmakersTable__btn.bet СДЕЛАТЬ СТАВКУ
				button.btn.bookmakersTable__btn.site ПОСЕТИТЬ САЙТ
		tr.classC.first
			td.bookmakersTable__class C
			td.bookmakersTable__logo
				img(src="/img/sportingbet.png")
			td.bookmakersTable__bonus
				| 10
				span.fa.fa-dollar
			td.bookmakersTable__deposit
				| 100
				span.fa.fa-rub
			td.bookmakersTable__support
				i.fa.fa-check-circle
			td.bookmakersTable__lecense
				i.fa.fa-check-circle
			td.bookmakersTable__trust
				i.fa.fa-star
				i.fa.fa-star
				i.fa.fa-star
				i.fa.fa-star
				i.fa.fa-star
			td
				button.btn.bookmakersTable__btn.bet СДЕЛАТЬ СТАВКУ
				button.btn.bookmakersTable__btn.site ПОСЕТИТЬ САЙТ
// end bookmakersTable
