script(src="/vendor/jquery-2.2.4.js")
script(src="/vendor/modernizr.js")
script(src="/vendor/jquery.browser.js")
script(src="/vendor/flexibility.js")

//- webpack
//- script(src="/js/app.min.js")

//- without webpack
script(src="/js/common.js")