doctype html
html
	head
		block title
		include /_head.jade
	body
		main
			//- include /blocks/header/header.html
			include /blocks/headerTop/headerTop.jade
			.wrap
				include /blocks/headerBottom/headerBottom.jade
				block content
		include /blocks/footer/footer.jade
		include /_foot.jade