.bookmakerCard__img {
  width: 100%;
  margin-bottom: 25px;
}
.bookmakerCard__payment {
  width: 100%;
}
.bookmakerCard__payment td {
  width: 25%;
  padding: 2px;
}
.bookmakerCard__paymentLink {
  border: 1px solid #d4d4d4;
  display: inline-block;
  padding: 1px;
  -webkit-border-radius: 3px;
  border-radius: 3px;
  width: 100%;
}
.bookmakerCard__paymentLink img {
  width: 100%;
}
.bookmakerCard__paymentLink:hover {
  opacity: 0.7;
}
.bookmakerCard__info table {
  width: 100%;
  margin-top: -8px;
}
@media (max-width: 320px) {
  .bookmakerCard__info table {
    margin-top: 20px;
  }
}
.bookmakerCard__info table td {
  width: 50%;
  padding: 8px 0;
}
@media (max-width: 320px) {
  .bookmakerCard__info table td:first-child {
    position: relative;
    padding-left: 30px;
  }
}
.bookmakerCard__btnWrap {
  -webkit-box-pack: justify;
  -webkit-justify-content: space-between;
  -ms-flex-pack: justify;
  justify-content: space-between;
  display: -webkit-box;
  display: -webkit-flex;
  display: -ms-flexbox;
  display: flex;
}
.bookmakerCard__btn {
  font-weight: 600;
  color: #fff;
  padding: 10px;
  margin-bottom: 20px;
  max-width: 49%;
  -webkit-box-flex: 0;
  -webkit-flex: 0 1 49%;
  -ms-flex: 0 1 49%;
  flex: 0 1 49%;
}
.bookmakerCard__btn.btn-more {
  color: #81c784;
  background: #333;
}
.bookmakerCard__btn.btn-site {
  background: #81c784;
  color: #fff;
}
.bookmakerCard__btn:hover {
  opacity: 0.7;
}
.bookmakerCard__infoItem a {
  color: #333;
}
.bookmakerCard__infoItem a:hover,
.bookmakerCard__infoItem a:focus {
  color: #333;
}
.bookmakerCard__infoItem .fa:before {
  display: inline-block;
  margin-right: 20px;
}
.bookmakerCard__infoItem .fa.fa-apple,
.bookmakerCard__infoItem .fa.fa-android,
.bookmakerCard__infoItem .fa.fa-windows,
.bookmakerCard__infoItem .fa.fa-edge {
  color: #81c784;
  font-size: 18px;
}
.bookmakerCard__infoItem .fa.fa-apple:before,
.bookmakerCard__infoItem .fa.fa-android:before,
.bookmakerCard__infoItem .fa.fa-windows:before,
.bookmakerCard__infoItem .fa.fa-edge:before {
  margin-right: 10px;
}
.bookmakerCard__infoItem__stars {
  display: inline-block;
  margin-left: 10px;
}
.bookmakerCard__infoItem__stars .fa-star:before {
  margin-right: 5px;
  color: #fdd835;
}
.bookmakerCard__infoItem__dt {
  font-weight: 600;
}
.bookmakerCard .footable .footable-row-detail-name {
  text-align: left;
  padding: 0;
}
.bookmakerCard .footable .footable-toggle {
  position: absolute;
  left: 0;
}
.bookmakerCard .footable .footable-row-detail-inner {
  width: 100%;
}
.no-flexbox .bookmakerCard__btn {
  width: 49%;
}
.no-flexbox .bookmakerCard__btn.btn-site {
  float: right;
}
