.navMenu {
  position: relative;
}
@media (max-width: 320px) {
  .navMenu {
    position: static;
  }
}
@media (max-width: 320px) {
  .navMenu__list {
    display: none;
  }
  .navMenu__list.active {
    display: block;
  }
}
.navMenu__link {
  color: #81c784;
  font-weight: 600;
  text-decoration: none;
}
.navMenu__link.active,
.navMenu__link:hover {
  color: #333;
  text-decoration: none;
}
.navMenu__item {
  margin-right: 30px;
}
.navMenu__item:last-child {
  margin: 0;
}
@media (max-width: 320px) {
  .navMenu__item {
    display: block !important;
    padding-top: 5px;
    padding-bottom: 5px;
    margin: 0;
  }
}
.navMenu__line {
  height: 10px;
  background: #eee;
}
.navMenu__toggle {
  position: absolute;
  top: 35px;
  right: 15px;
}
