// start navMenu
//- Oxana Kovalenko
.navMenu
	button.navMenu__toggle.visible-xs
		i.fa.fa-navicon
	ul.navMenu__list.list-inline
		li.navMenu__item: a(href="#").navMenu__link Рейтинг букмекерских контор
		li.navMenu__item: a(href="#").navMenu__link Бесплатные сервисы
		li.navMenu__item: a(href="#").navMenu__link Школа беттинга
		li.navMenu__item: a(href="#").navMenu__link Контакты
// end navMenu
