@import '../../css/_vars'
.navMenu
	position: relative
	@media (max-width: $screen-xs-min)
		position: static
	&__list
		@media (max-width: $screen-xs-min)
			display: none
			&.active
				display: block
	&__link
		color: $color_1
		font-weight: 600
		text-decoration: none
		&.active, &:hover
			color: $base_text
			text-decoration: none
	&__item
		margin-right: 30px
		&:last-child
			margin: 0
		@media (max-width: $screen-xs-min)
			display: block !important
			padding-top: 5px
			padding-bottom: 5px
			margin: 0
	&__line
		height: 10px
		background: $bg_color_1
	&__toggle
		position: absolute
		top: 35px
		right: 15px
